<a href="https://colab.research.google.com/github/caiumoua8/Math-120-Partic-1/blob/main/MATH120_WEEK1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Notebook

##Intro Programming

This is a markdown/text cell.

*This text is now italicized :)*



> Don't know what this does


> what if i add this

and then another text



1. This is the first item listed
2. This will be the second thing listed

###Python as a Calculator

In [ ]:
# arithmetic examples
x = 12+12 #addition
y = 13*13 #mulitiplication
z = 25 / 5 #division
print(x,y,z)
print(x)

24 169 5.0
24

In [ ]:
# exponentiation
5**3

# modular division
7 % 2

1

In [ ]:
# order of operations
(2 + 4) ** 2

36

In [ ]:
# arithmetic functions
round (12.500000000000000000000000000000000000001)
# abs(), sum()

12

In [ ]:
# functions in python are of the form
# function_name()
# arguments in functions are separated by commas
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
round (12.500000000000000000000000000000000000001,3)

12.5

## Strings

In [ ]:
# strings are either single or double quoted
'hello'

'hello'

In [ ]:
"world"

'world'

In [ ]:
# practice: create some strings and use some arithmetic on them

In [ ]:
"there are 17 biscuits in the large combo" + 4

TypeError: can only concatenate str (not "int") to str

In [ ]:
'10 more biscuits'/ 5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
' does the combos get larger' * 3

' does the combos get larger does the combos get larger does the combos get larger'

In [ ]:
'does the combos not get larger' - 2

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
'oh so they do not get larger' % 3

TypeError: not all arguments converted during string formatting

In [ ]:
len('my name is')

10

In [ ]:
# values and types
type(2.0)
type('hello')

str

In [ ]:
# convert from int to float
float(2)

2.0

In [ ]:
# type erroes occur when operands don't work
'120' / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Variables and Statements

In [ ]:
# assignment is done w equal signs
x
pi = 3.14
message = 'here we go'

In [ ]:
type(x)

sympy.core.symbol.Symbol

In [ ]:
len(pi)

TypeError: object of type 'float' has no len()

In [ ]:
len(message)

In [ ]:
3874*&#*$&^@! = 12

In [ ]:
123 = 232

In [ ]:
2 = 5343

In [ ]:
& = 34

In [ ]:
# = 232
#

In [ ]:
@ = 23

In [ ]:
! = 24

/bin/bash: line 1: =: command not found

In [ ]:
% = 23

UsageError: Line magic function `%` not found.

In [ ]:
^ = 83

In [ ]:
* = 28

In [ ]:
() = 123

In [ ]:
pi34 = 344

In [ ]:
pi334434 = 4
pi334434

In [ ]:
&pi = 34

## Things that work and don't work

- **all special characters = # don't work**
- speacial characters + letters don't work
- number + letters works
- number + speacial characters don't work
- underscores work w letters for assignment
- dashes don't work
- operations + letters assigned to numbers don't work **

In [ ]:
for= 4

SyntaxError: invalid syntax (ipython-input-944245718.py, line 1)

In [ ]:
44jd = 12

In [ ]:
%sdjf = 3

In [ ]:
$sifjd = 3

SyntaxError: invalid syntax (ipython-input-1729927584.py, line 1)

In [ ]:
$43 = 4

## Importing libraries/modules

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
# this gives you access to math mdules and fxns

In [ ]:
math.pow(5,2)

25.0

In [ ]:
# investigate the other fxns in math.
math.factorial(4)

24

## Scientific/Math Modules

In [ ]:
import numpy as np # numerical python
import sympy as sym # symbolic python

In [ ]:
# import a submodule from a module
from sympy import symbols

In [ ]:
y = symbols('y')
y

y

In [ ]:
z = symbols('z')
y + 2*z

y + 2*z

In [ ]:
# symbolically expand
sym.expand((y+z)**2)

y**2 + 2*y*z + z**2

In [ ]:
# symbolically differentiatie
sym.diff(sym.sin(y),y)

cos(y)

In [ ]:
# find matrix eigenvalues
sym.Matrix([[1,0,0],[0,4,0],[0,0,5]]).eigenvals()

{1: 1, 4: 1, 5: 1}

In [ ]:
# solve equations (left-hand side = 0)
sym.solve(y**2 - 2*sym.sin(z), z)

[pi - asin(y**2/2), asin(y**2/2)]

In [ ]:
# print statements
print(message)
x
print('Hello WORLLLDDDDD',message)

here we go
Hello WORLLLDDDDD here we go